.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
body{
    background-color: darkslategray;
    font-family: Arial, sans-serif;

}

a{
    padding: 10px 20px;
    background-color: darkslategray;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
a:hover{
    background-color: #090c0e;
}